In [7]:
import pandas as pd

In [8]:
FORM_PATH = '/home/tomaz/Desktop/MDV/anglo.csv'
RESULT_PATH = '/home/tomaz/Desktop/MDV/anglo_processed.csv'

VACCANCIES_PATH = '../../data/4_final/vagas/2022.csv'

## Reformatting Anglo's data

In [9]:
anglo_raw = pd.read_csv(FORM_PATH)
anglo_raw

,id,ACERTOS NA 1ª FASE,NOTA NA 2ª FASE (1º DIA),NOTA NA 2ª FASE (2º DIA),NOTA FINAL,REDAÇÃO,PHE,MODALIDADE,CLASSIFICAÇÃO NA CARREIRA NA MODALIDADE DE INGRESSO
0,72,80,81.5,75.00,817.96,45.0,NaN,AC,1.0
1,72,64,70.5,76.67,727.59,38.0,NaN,AC,25.0
2,72,60,60.5,57.50,615.56,38.0,NaN,EP,15.0
3,72,68,63.5,72.50,705.19,33.0,NaN,AC,45.0
4,72,75,59.0,77.50,732.78,41.0,NaN,AC,22.0
...,...,...,...,...,...,...,...,...,...
191,64,81,59.0,90.83,799.44,30.0,NaN,AC,66.0
192,153,74,54.5,71.67,694.63,29.5,NaN,NaN,NaN
193,177,65,45.0,48.33,551.85,28.5,NaN,AC,14.0
194,160,79,51.0,75.83,715.37,23.0,NaN,AC,1.0
195,172,63,50.5,70.83,637.78,27.0,NaN,AC,30.0

In [10]:
anglo_raw.columns

Index(['id', 'ACERTOS NA 1ª FASE', 'NOTA NA 2ª FASE (1º DIA)',
       'NOTA NA 2ª FASE (2º DIA)', 'NOTA FINAL', 'REDAÇÃO', 'PHE',
       'MODALIDADE', 'CLASSIFICAÇÃO NA CARREIRA NA MODALIDADE DE INGRESSO'],
      dtype='object')

In [11]:
def parse_fuvest_results(row):

    return pd.Series({
        'id':                     row['id'],
        'ano':                    2022,
        'modalidade':             row['MODALIDADE'],
        'chamada':                'Primeira',
        'nota_1':                 row['ACERTOS NA 1ª FASE'],
        'nota_2_1':               row['NOTA NA 2ª FASE (1º DIA)'],
        'nota_2_2':               row['NOTA NA 2ª FASE (2º DIA)'],
        'nota_final':             row['NOTA FINAL'],
        'nota_redacao':           row['REDAÇÃO'],
        'classificacao_carreira': pd.NA,
        'classificacao_curso':    row['CLASSIFICAÇÃO NA CARREIRA NA MODALIDADE DE INGRESSO'],
        'redacao':                pd.NA,
    })

anglo_data = anglo_raw.apply(parse_fuvest_results, axis=1)
anglo_data.head()

,id,ano,modalidade,chamada,nota_1,nota_2_1,nota_2_2,nota_final,nota_redacao,classificacao_carreira,classificacao_curso,redacao
0,72,2022,AC,Primeira,80,81.5,75.00,817.96,45.0,<NA>,1.0,<NA>
1,72,2022,AC,Primeira,64,70.5,76.67,727.59,38.0,<NA>,25.0,<NA>
2,72,2022,EP,Primeira,60,60.5,57.50,615.56,38.0,<NA>,15.0,<NA>
3,72,2022,AC,Primeira,68,63.5,72.50,705.19,33.0,<NA>,45.0,<NA>
4,72,2022,AC,Primeira,75,59.0,77.50,732.78,41.0,<NA>,22.0,<NA>

In [12]:
anglo_data.isna().sum()

id                          0
ano                         0
modalidade                  5
chamada                     0
nota_1                      0
nota_2_1                    0
nota_2_2                    0
nota_final                  0
nota_redacao                0
classificacao_carreira    196
classificacao_curso         5
redacao                   196
dtype: int64

In [13]:
filter = anglo_data.modalidade.isna() | anglo_data.classificacao_curso.isna()
anglo_data.loc[filter][['modalidade', 'classificacao_curso']]

    modalidade  classificacao_curso
70         NaN                  NaN
78         NaN                  NaN
83         NaN                  NaN
139        NaN                  NaN
192        NaN                  NaN

In [14]:
clean_anglo_data = anglo_data.dropna(thresh=9)
clean_anglo_data

,id,ano,modalidade,chamada,nota_1,nota_2_1,nota_2_2,nota_final,nota_redacao,classificacao_carreira,classificacao_curso,redacao
0,72,2022,AC,Primeira,80,81.5,75.00,817.96,45.0,<NA>,1.0,<NA>
1,72,2022,AC,Primeira,64,70.5,76.67,727.59,38.0,<NA>,25.0,<NA>
2,72,2022,EP,Primeira,60,60.5,57.50,615.56,38.0,<NA>,15.0,<NA>
3,72,2022,AC,Primeira,68,63.5,72.50,705.19,33.0,<NA>,45.0,<NA>
4,72,2022,AC,Primeira,75,59.0,77.50,732.78,41.0,<NA>,22.0,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...
190,64,2022,AC,Primeira,77,75.5,93.33,847.96,38.0,<NA>,13.0,<NA>
191,64,2022,AC,Primeira,81,59.0,90.83,799.44,30.0,<NA>,66.0,<NA>
193,177,2022,AC,Primeira,65,45.0,48.33,551.85,28.5,<NA>,14.0,<NA>
194,160,2022,AC,Primeira,79,51.0,75.83,715.37,23.0,<NA>,1.0,<NA>
195,172,2022,AC,Primeira,63,50.5,70.83,637.78,27.0,<NA>,30.0,<NA>

In [15]:
clean_anglo_data.isna().sum()

id                          0
ano                         0
modalidade                  0
chamada                     0
nota_1                      0
nota_2_1                    0
nota_2_2                    0
nota_final                  0
nota_redacao                0
classificacao_carreira    191
classificacao_curso         0
redacao                   191
dtype: int64

In [16]:
full_modalidade_dict = {
    'EP': 'Escola Pública (EP)',
    'AC': 'Ampla Concorrência (AC)',
    'PPI': 'Pretos, Pardos e Indígenas (PPI)',
}

clean_anglo_data.modalidade.replace(full_modalidade_dict, inplace=True)
clean_anglo_data

/tmp/ipykernel_4686/145152157.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_anglo_data.modalidade.replace(full_modalidade_dict, inplace=True)

,id,ano,modalidade,chamada,nota_1,nota_2_1,nota_2_2,nota_final,nota_redacao,classificacao_carreira,classificacao_curso,redacao
0,72,2022,Ampla Concorrência (AC),Primeira,80,81.5,75.00,817.96,45.0,<NA>,1.0,<NA>
1,72,2022,Ampla Concorrência (AC),Primeira,64,70.5,76.67,727.59,38.0,<NA>,25.0,<NA>
2,72,2022,Escola Pública (EP),Primeira,60,60.5,57.50,615.56,38.0,<NA>,15.0,<NA>
3,72,2022,Ampla Concorrência (AC),Primeira,68,63.5,72.50,705.19,33.0,<NA>,45.0,<NA>
4,72,2022,Ampla Concorrência (AC),Primeira,75,59.0,77.50,732.78,41.0,<NA>,22.0,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...
190,64,2022,Ampla Concorrência (AC),Primeira,77,75.5,93.33,847.96,38.0,<NA>,13.0,<NA>
191,64,2022,Ampla Concorrência (AC),Primeira,81,59.0,90.83,799.44,30.0,<NA>,66.0,<NA>
193,177,2022,Ampla Concorrência (AC),Primeira,65,45.0,48.33,551.85,28.5,<NA>,14.0,<NA>
194,160,2022,Ampla Concorrência (AC),Primeira,79,51.0,75.83,715.37,23.0,<NA>,1.0,<NA>
195,172,2022,Ampla Concorrência (AC),Primeira,63,50.5,70.83,637.78,27.0,<NA>,30.0,<NA>

## Adding MDV course information

In [17]:
vaccancies = pd.read_csv(VACCANCIES_PATH)
vaccancies

,id,campus,unidade,area,curso,fuvest_ac,fuvest_ep,fuvest_ppi,fuvest,enem_ac,enem_ep_l1,enem_ep_l3,enem_ep,enem_ppi_l2,enem_ppi_l4,enem_ppi,enem
0,0,São Paulo,EACH,E,Bacharelado em Sistemas de Informação,28,10,4,42,2,0.0,8.0,8.0,0.0,8.0,8.0,18.0
1,1,São Paulo,EACH,E,Bacharelado em Sistemas de Informação,56,21,7,84,4,0.0,16.0,16.0,0.0,16.0,16.0,36.0
2,2,São Paulo,EACH,E,Licenciatura em Ciências da Natureza,30,9,3,42,0,0.0,9.0,9.0,0.0,9.0,9.0,18.0
3,3,São Paulo,EACH,B,Bacharelado em Educação Física e Saúde,20,14,8,42,10,4.0,0.0,4.0,4.0,0.0,4.0,18.0
4,4,São Paulo,EACH,B,Bacharelado em Biotecnologia,30,11,1,42,0,0.0,7.0,7.0,0.0,11.0,11.0,18.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
172,172,São Paulo,IQ,E,Química – Bacharelado e Licenciatura – Noturno...,22,12,8,42,8,2.0,4.0,6.0,2.0,2.0,4.0,18.0
173,173,São Carlos,IQSC,E,Química Bacharelado (Hab. Fundamental e Hab. T...,24,12,6,42,6,3.0,3.0,6.0,3.0,3.0,6.0,18.0
174,174,São Paulo,IRI,H,Bacharelado em Relações Internacionais,14,5,2,21,1,3.0,1.0,4.0,3.0,1.0,4.0,9.0
175,175,São Paulo,IRI,H,Bacharelado em Relações Internacionais,14,5,2,21,1,3.0,1.0,4.0,3.0,1.0,4.0,9.0
176,177,São Paulo,IF,E,Bacharelado em Física Médica,12,4,1,17,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
full_anglo_data = vaccancies[['id', 'unidade', 'curso']].merge(clean_anglo_data,
                                                               on='id',
                                                               validate='1:m')
full_anglo_data

,id,unidade,curso,ano,modalidade,chamada,nota_1,nota_2_1,nota_2_2,nota_final,nota_redacao,classificacao_carreira,classificacao_curso,redacao
0,4,EACH,Bacharelado em Biotecnologia,2022,Ampla Concorrência (AC),Primeira,69,54.50,53.33,615.00,34.50,<NA>,24.0,<NA>
1,4,EACH,Bacharelado em Biotecnologia,2022,Ampla Concorrência (AC),Primeira,68,41.00,61.67,594.07,28.00,<NA>,28.0,<NA>
2,6,EACH,Curso de Graduação em Obstetrícia,2022,Escola Pública (EP),Primeira,51,56.50,34.17,491.11,29.50,<NA>,8.0,<NA>
3,13,EACH,Gestão de Políticas Públicas,2022,Ampla Concorrência (AC),Primeira,54,43.00,45.00,493.33,30.00,<NA>,46.0,<NA>
4,14,EACH,Marketing,2022,Ampla Concorrência (AC),Primeira,77,52.50,55.00,643.52,31.50,<NA>,1.0,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
186,174,IRI,Bacharelado em Relações Internacionais,2022,Ampla Concorrência (AC),Primeira,81,72.50,70.83,777.78,38.00,<NA>,3.0,<NA>
187,175,IRI,Bacharelado em Relações Internacionais,2022,Ampla Concorrência (AC),Primeira,71,64.50,64.17,691.85,38.00,<NA>,25.0,<NA>
188,175,IRI,Bacharelado em Relações Internacionais,2022,Ampla Concorrência (AC),Primeira,76,65.50,57.50,691.48,34.00,<NA>,26.0,<NA>
189,175,IRI,Bacharelado em Relações Internacionais,2022,Ampla Concorrência (AC),Primeira,79,63.17,62.50,711.48,34.67,<NA>,15.0,<NA>
190,177,IF,Bacharelado em Física Médica,2022,Ampla Concorrência (AC),Primeira,65,45.00,48.33,551.85,28.50,<NA>,14.0,<NA>

In [19]:
full_anglo_data.to_csv(RESULT_PATH, index=None)